---
layout: default
title: About Daryl - Daryl Love for School Board
---

<div class="hero-image bio-image">
  <div class="hero-text">About Daryl Love</div>
</div>
<!-- {% include socialmedia.html %} -->
<div id="bio-text">
  <p>Daryl Love, is manager of community relations and employee engagement at Ashland Inc., a global specialty chemicals company. He’s responsible for managing Ashland’s corporate contribution and community relations programs. In his role he develops strategies and partnerships that enhance Ashland’s brand and reputation through employee volunteerism and corporate financial support. </p>
  <p>Daryl joined Ashland Inc. in 1988, as a computer systems analyst. Since that time he has held the following roles: senior systems engineer in information technology, senior compensation specialist in the corporate human resources group, international compensation and benefits specialist, manager, global benefits planning and HR services, and vice president, Equal Opportunity Finance, Inc., a subsidiary of Ashland Inc. that provided management assistance and counsel to women and minority-owned businesses. He joined his current department, Communications and Corporate Affairs in 2004.</p>
  <p>A native of Memphis, Daryl graduated from Lane College, in Jackson, Tenn., where he received a bachelor’s degree in computer science and mathematics. He received his MBA from Midway College. Appointed in 2010, and elected in 2012, he currently serves as a member of the Fayette County School Board. Prior, he served as board chair of Hospice of the Bluegrass. He has also served as a board member of Commerce Lexington, United Way of the Bluegrass, Partnership for Successful Schools, and Governor’s School for the Arts Advisory Council. He is an active member of Alpha Phi Alpha Fraternity, Inc., and is also involved with his church, Main Street Baptist Church.</p>
  <p>He and his wife Rhonda Love, have been married for 25 years and they have two sons, Landon and Langston.</p>
</div>
{% include cta.html %}
