---
layout: default
title: About Daryl - Daryl Love for School Board
---

<div class="hero-image bio-image">
  <div class="hero-text">About Daryl Love</div>
</div>
<!-- {% include socialmedia.html %} -->
<div id="bio-text">
  <p>Daryl Love is committed to helping students learn and become the best they can be. He is passionate about education and has a proven record of listening, collaborating and leading.</p>
  <p>These unparalleled  attributes make Daryl a valuable asset to the Fayette County Board of Education, where he has tirelessly represented the fifth district since 2010.</p>
  <p>Daryl’s service  on behalf of students began in 2001, when he became a proud and active member of the PTA at his children’s school. He later served as a member of the School Based Decision Making Council (SBDM) as well.</p>
  <p>Daryl has a genuine love for his community, as evidenced by his work  with numerous organizations, including: the Partnership for Successful Schools, a statewide education advocacy group; the Governors School for the Arts; Hospice of the Bluegrass (Board Chair); the United Way and Commerce Lexington. He also was recently appointed to the St. Joseph Hospital Foundation Board of Directors.</p>
</div>
{% include cta.html %}
