<footer>
	<div class="container">
		<a href="index.html"><img src="/assets/img/logotransparentdark.png" id="footer-logo"></a>
		<br>
		<div class="footer-links">
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="/aboutdaryl.html">About Daryl Love</a></li>
				<li><a href="/volunteer.html">Volunteer</a></li>
				<!-- <li><a href="https://secure.actblue.com/contribute/page/watkinsforstaterep">Contribute</a></li> -->
			</ul>
		</div>
		<div class="footer-contacts">
			P.O. Box 4114, Lexington, KY 40544
		</div>
		<div id="paidfor">Paid for by Daryl Love for School&nbsp;Board <br>Don Tharpe, Treasurer</div>
	</div>
</footer>
