<header role="banner">
		<div class="logo">
			<a href="/index.html"><img src="/assets/img/logotransparent.png" class="logoimg"></a>
	    <a href="#" id="mobile-menu-button"><i class='fa fa-2x fa-bars'></i></a>
		</div>
		<nav id="navbar">
			<ul id="nav-menu" class="nav-menu show">
				<li class="nav-link"><a href="/index.html">home</a></li>
				<li class="nav-link"><a href="/aboutdaryl.html">about daryl love</a></li>
				<li class="nav-link"><a href="/volunteer.html">volunteer</a></li>
				<li class="nav-link"><a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=_flow&SESSION=WO76Atz3RThgVUcqGld2Ds5RtYwuX-YiKWduLJyZfjbOiKYEoWXTYDeiYiK&dispatch=5885d80a13c0db1f8e263663d3faee8d4fe1dd75ca3bd4f11d72275b28239088" id="donate">contribute</a></li>
			</ul>
		</nav>
		<script type="text/javascript" src="/assets/js/navbarToggle.js"></script>
</header>
