<header role="banner">
		<div class="logo">
			<a href="/index.html"><img src="/assets/img/logotransparent.png" class="logoimg"></a>
	    <a href="#" id="mobile-menu-button"><i class='fa fa-2x fa-bars'></i></a>
		</div>
		<nav id="navbar">
			<ul id="nav-menu" class="nav-menu show">
				<li class="nav-link"><a href="/index.html">home</a></li>
				<li class="nav-link"><a href="/aboutdaryl.html">about daryl love</a></li>
				<li class="nav-link"><a href="/volunteer.html">volunteer</a></li>
				<!-- <li class="nav-link"><a href="https://secure.actblue.com/contribute/page/watkinsforstaterep" id="donate">contribute</a></li> -->
			</ul>
		</nav>
		<script type="text/javascript" src="/assets/js/navbarToggle.js"></script>
</header>
